<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Graph App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/dependencies/bootstrap.css">
    <link rel="stylesheet" href="/styles/site.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>
    
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <script src="/js/dependencies/jquery-2.1.1.js"></script>
    <script src="/js/dependencies/snap.svg.js"></script>
    <script src="/js/dependencies/d3.js"></script>
    <script src="/js/dependencies/lodash.js"></script>
    <script src="/js/dependencies/vue.js"></script>
    <script src="/js/dependencies/mousetrap.js"></script>
    <script src="/js/globals.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/components.js"></script>
    <script src="/js/hypergraph.js"></script>
    
    <!--SCRIPTS-->
    
    <!--SCRIPTS END-->
  </body>
</html>
