<template id="forceLayout.panel">
  <div class="x-noselect force-layout-panel">
    <div class="panel-header">
      <span class="title">Force Layout</span>
      <span class="run-stop">
        <i
            class="fa"
            v-class="
                      fa-play:!forceLayout.isRunning,
                      fa-stop:forceLayout.isRunning
                  "
            v-on="click:forceLayout.isRunning = !forceLayout.isRunning">
        </i>
      </span>
    </div>
    <div class="advanced-settings">
      <ul v-if="showAdvancedSettings">
        <li>
          <span>Theta</span>
          <input type="text" min="0" max="1" v-model="forceLayout.parameters.theta.value">
        </li>
        <li>
          <span>Friction</span>
          <input type="text" min="0" max="1" v-model="forceLayout.parameters.friction.value">
        </li>
        <li>
          <span>Gravity</span>
          <input type="text" min="0" max="1" v-model="forceLayout.parameters.gravity.value">
        </li>
        <li>
          <span>Charge</span>
          <input type="text" v-model="forceLayout.parameters.charge.value">
        </li>
        <li>
          <span>Charge Distance</span>
          <input type="text" v-model="forceLayout.parameters.chargeDistance.value">
        </li>
        <li>
          <span>Link Strength</span>
          <input type="text" min="0" max="15" v-model="forceLayout.parameters.linkStrength.value">
        </li>
        <li>
          <span>Link Distance</span>
          <input type="text" min="50" max="260" v-model="forceLayout.parameters.linkDistance.value">
        </li>
      </ul>
      <div class="show-hide-button" v-if="!showAdvancedSettings" v-on="click:showAdvancedSettings = true">
        Show Advanced <i class="fa fa-angle-down"></i>
      </div>
      <div class="show-hide-button" v-if="showAdvancedSettings" v-on="click:showAdvancedSettings = false">
        Hide Advanced <i class="fa fa-angle-up"></i>
      </div>
    </div>
  </div>
</template>