<template id="forceLayout.panel">
  <div class="x-noselect force-layout-panel">
    <div class="panel-header">
      <span class="advanced">
        <i
            class="fa fa-cog"
            v-on="click:showAdvancedSettings = !showAdvancedSettings">
        </i>
      </span>
      <span class="title">Force Layout</span>
      <span class="run-stop">
        <i
            class="fa"
            v-class="
                      fa-play:!forceLayout.isRunning,
                      fa-stop:forceLayout.isRunning
                  "
            v-on="click:forceLayout.isRunning = !forceLayout.isRunning">
        </i>
      </span>
    </div>
    <ul v-if="showAdvancedSettings">
      <li>
        <span>Alpha</span>
        <input type="number" v-model="forceLayout.parameters.alpha.value">
      </li>
      <li>
        <span>Theta</span>
        <input type="number" v-model="forceLayout.parameters.theta.value">
      </li>
      <li>
        <span>Friction</span>
        <input type="number" v-model="forceLayout.parameters.friction.value">
      </li>
      <li>
        <span>Gravity</span>
        <input type="number" min="0" max="1" v-model="forceLayout.parameters.gravity.value">
      </li>
      <li>
        <span>Node Charge</span>
        <input type="number" v-model="forceLayout.parameters.charge.value">
      </li>
      <li>
        <span>Link Strength</span>
        <input type="number" v-model="forceLayout.parameters.linkStrength.value">
      </li>
      <li>
        <span>Link Distance</span>
        <input type="number" v-model="forceLayout.parameters.linkDistance.value">
      </li>
    </ul>
  </div>
</template>