<style>
	html, body {
		height:100%;
		width:100%;
		display: flex;
	}

	article {
		flex: 1 1 auto;
		display: flex;
	}

	section.graph-container {
		order: 1;
		background-color:tomato;
		flex: 1 1 auto;
	}

	section.info-container {
		order: 0;
		height:100%;
		width:100%;
		position: absolute;
		display: flex;
		padding:2em;
	}

	.info-panel {
	  pointer-events:auto;
	  background-color: rgba(255,255,255,.95);
	  white-space:nowrap;
	  padding:2em;
	  box-shadow:0 .05em .2em rgba(0,0,0,.15);
	  border:1px solid #eee;
		flex: 1 1 auto;
	}

	.info-overlay {
		background-color: rgba(255,255,255,.05);
		flex: 6 1 auto;
	}
</style>


<article>
	<section class="graph-container">
		<div>graph</div>
	</section>
	<section class="info-container">
		<div class="info-panel">info panel</div>
		<div class="info-overlay">info overlay</div>
	</section>
</article>