::-webkit-input-placeholder {
    color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #ccc;
}

:-ms-input-placeholder {
    color: #ccc;
}

* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

html, body {
    background-color:#EC407A;
    width:100%;
    height:100%;
    margin:0;
}

#app {
    width:390px;
    margin:auto;
    top:100px;
    position:relative;
}

#appLogo {
    width:200px;
    margin:auto;
    padding-bottom:20px;
}

form#createAccount {
    display:block;
    width:100%;
}

.form-group {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 1px;
    align-content: center;
}

.form-group:first-child {
    overflow:hidden;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

input {
    -webkit-flex:auto;
    -ms-flex:auto;
    flex:auto;
    font-family: 'Nato Sans', sans-serif;
    font-size:20px;
    font-weight:400;
    border:0;
    margin:0;
    padding:10px 20px;
    color:#C2185B;
}

label {
    font-weight:600;
    text-transform:lowercase;
    padding:0 10px 0 0;
    text-align:right;
    width:90px;
    font-size:12px;
    color:#FCE4EC;
    font-family: 'Nato Sans', sans-serif;
    background-color:#F06292;

    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;

    -webkit-align-items: center;
    align-items:center;
    -webkit-justify-content: center;
    justify-content: flex-end;
}

input:first-child {
    display:inline;
}

input:focus {
    outline:none;
}

button {
    cursor:pointer;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-family: 'Nato Sans', sans-serif;
    font-size:14px;
    font-weight:600;
    line-height:1.6;
    color:#FCE4EC;
    display:block;
    background-color:#FF4081;
    width:100%;
    border:0;
    padding:10px 15px;
    text-transform : uppercase;
    transition:background 100ms ease;
}

button.disabled {
    opacity:.65;
    pointer-events: none;
    cursor:not-allowed;
}

button:hover {
    background-color:#F50057;
}

button:active {
    background-color:#C2185B;
}

button:focus {
    outline:none;
}

.app-name {
    margin-top:20px;
    font-family: 'Nato Sans', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:600;
}

span {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

a {
    margin-top:10px;
    color: #FCE4EC;
    text-decoration:none;
    font-family: 'Nato Sans', sans-serif;
    font-size:12px;
    display:inline;
    transition: color 100ms ease;
}

a:hover {
    color:#fff;
    text-decoration:underline;
}

.help-block {
    -ms-flex:1;
    -webkit-flex:1;
    flex:1;

    color:#fff;
    font-family: 'Nato Sans', sans-serif;
    background-color:#D04066;
    margin:-1px 0 0 0;
    padding:10px 20px;
    text-align:center;
    font-size:14px;
}