

<svg class="disable-user-selection" id="graph" v-attr="viewBox:viewBox">
  <!-- Definitions -->
  <defs>
    <marker id="def-marker-arrow"
            markerWidth="2"
            markerHeight="2"
            refx="8"
            refy="1"
            orient="auto">
      <path d="M0,0 L0,2 L2,1 L0,0" class="marker-arrow"></path>
    </marker>
    <marker id="def-marker-ghost-arrow"
            markerWidth="2"
            markerHeight="2"
            refx="2"
            refy="1"
            orient="auto">
      <path d="M0,0 L0,2 L2,1 L0,0" class="marker-arrow"></path>
    </marker>
  </defs>

  <!-- Dynamic Content -->
  <g class="dynamic-content" v-el="dynamicContent"></g>

  <!-- Links -->
  <x-link v-repeat="links"></x-link>

  <!-- Nodes -->
  <x-node v-repeat="nodes"></x-node>
</svg>

<template id="graph.link">
  <g class="enable-pointer-events">
    <line class="link" v-attr="x1:source.x, y1:source.y, x2:target.x, y2:target.y"></line>
    <line class="marker-arrow"
          marker-end="url(#def-marker-arrow)"
          v-attr="x1:source.x, y1:source.y, x2:target.x, y2:target.y"></line>
  </g>
</template>

<template id="graph.node">
  <g class="node enable-pointer-events" v-attr="id: id, transform: nodeTranslate">
    <circle class="node-circle" v-attr="r:radius + 'em'" v-el="nodeCircle"></circle>
    <text class="node-label" text-anchor="middle" v-attr="transform: labelTranslate" v-el="nodeLabel">
      Label {{$index}}
    </text>
  </g>
</template>

@views.html.components.radial.menu()
@views.html.components.radial.button()
@views.html.graph.ghostlink()