@(graph: play.api.libs.json.JsValue)

@import play.api.libs.json.Json

@layout("Data Visualization") {
  <div id="all">
    <x-nav
        data-state="{{@@ dataState }}"
        graph="{{@@ graph }}"
        on-save="{{ saveAllGraphData }}">
    </x-nav>

    <main id="main">
      <div class="x-paper hidden floating-panel-bar" id="floatingPanelBar" v-cloak>
        <div class="panel-bar-menu" v-on="click: closePanel">
          <button><i class="fa fa-times"></i></button>
        </div>
        <div class="panel-bar-content" v-el="panelContent"></div>
      </div>

      <div v-el="graphContainer" class="graph-container">
        <x-graph
            v-ref="graphComponent"
            nodes="{{@@ nodes }}"
            edges="{{@@ edges }}">
        </x-graph>

        <x-graph-controls
            increment-zoom="{{ incrementZoom }}"
            decrement-zoom="{{ decrementZoom }}"
            center-view="{{ centerView }}">
        </x-graph-controls>
      </div>
    </main>

    <ul id="edgeContextMenu" class="x-menu hidden">
      <li class="x-menu-item" v-on="click: delete"><a>Delete Link</a></li>
    </ul>

    <ul id="graphContextMenu" class="x-menu hidden">
      <li class="x-menu-item" v-on="click: addNode"><a>Add Node</a></li>
      <li class="x-menu-item" v-on="click: saveGraph"><a>Save Graph</a></li>
    </ul>
  </div>

  @templates.nav()
  @templates.graph()
  @templates.graphNode()
  @templates.graphEdge()
  @templates.graphNewEdge()
  @templates.graphControls()
  @templates.nodePanel()

  <script>
    var _graph = @Html(Json.stringify(graph));
  </script>

}