@(graph: play.api.libs.json.JsValue)

@import play.api.libs.json.Json

@layout("Data Visualization") {
  <div id="all">
    <x-nav
        data-state="{{@@ dataState }}"
        graph="{{@@ graph }}"
        on-save="{{ saveAllGraphData }}">
    </x-nav>

    <main id="main">
      <div class="x-paper hidden floating-panel-bar" id="floatingPanelBar" v-cloak>
        <div class="panel-bar-menu" v-on="click: closePanel">
          <button><i class="fa fa-times"></i></button>
        </div>
        <div class="panel-bar-content" v-el="panelContent"></div>
      </div>

      <div v-el="graphContainer" class="graph-container">
        <x-graph
            v-ref="graphComponent"
            nodes="{{@@ nodes }}"
            edges="{{@@ edges }}">
        </x-graph>

        <x-graph-controls
          increment-zoom="{{ incrementZoom }}"
          decrement-zoom="{{ decrementZoom }}"
          center-view="{{ centerView }}">
        </x-graph-controls>
      </div>
    </main>

    <ul id="edgeContextMenu" class="x-menu hidden">
      <li class="x-menu-item" v-on="click: delete"><a>Delete Link</a></li>
    </ul>

    <ul id="graphContextMenu" class="x-menu hidden">
      <li class="x-menu-item" v-on="click: addNode"><a>Add Node</a></li>
      <li class="x-menu-item" v-on="click: saveGraph"><a>Save Graph</a></li>
    </ul>
  </div>

  <template id="graphControls">
    <div class="view-controls">
      <div class="view-controls-group">
        <button v-on="click: centerView"><i class="fa fa-dot-circle-o"></i></button>
      </div>
      <div class="view-controls-group">
        <button v-on="click: incrementZoom"><i class="fa fa-plus"></i></button>
        <button v-on="click: decrementZoom"><i class="fa fa-minus"></i></button>
      </div>
    </div>
  </template>

  <template id="graph">
    <svg
        id="graph"
        class="x-noselect"
        v-on="
            contextmenu: contextMenu,
            wheel: mousewheelZoom
        "
    >
        <!-- Definitions -->
      <defs>
        <marker
            id="edgeArrow"
            markerWidth="5" markerHeight="3"
            refx="1.2" refy="1.5"
            orient="auto"
        >
          <path d="M0,0 L0,3 L3,1.5 L0,0" class="edge-arrow"></path>
        </marker>
        <marker
            id="connectedEdgeArrow"
            markerWidth="5" markerHeight="3"
            refx="1.2" refy="1.5"
            orient="auto"
        >
          <path d="M0,0 L0,3 L3,1.5 L0,0" class="connected-edge-arrow"></path>
        </marker>
      </defs>

        <!-- The rect below is to capture the wheel event for the Safari browser -->
      <rect
          x="0" y="0"
          fill="transparent"
          v-attr="width:width,height:height"
          v-el="backdrop"
      ></rect>

      <g v-el="nodesAndLinksGroup">
          <!-- Dynamic Content -->
        <g class="dynamic-content" v-el="dynamicContent"></g>

          <!-- Edges -->
        <x-edge v-repeat="edges" track-by="id"></x-edge>

        <g v-el="newEdgeContainer"></g>

          <!-- Nodes -->
        <x-node v-repeat="nodes" track-by="id"></x-node>
      </g>
    </svg>
  </template>

  <template id="nav">
    <nav>
      <div class="graph-name">
        <p v-class="hidden: editingGraphName" v-on="click: editGraphName">
          {{graph.data.name}}
        </p>
        <input
            class="x-input"
            type="text"
            v-class="hidden: !editingGraphName"
            v-model="graph.data.name"
            v-el="graphNameInput"
            v-on="
                blur  : updateGraphName,
                keyup : updateGraphName        | key 'enter',
                keyup : cancelGraphNameUpdate  | key 'esc'
            "
        >
      </div>
      <div class="graph-controls">
        <button
            v-attr="class: dataStateCssClassValue"
            v-on="click:onSave"
        >
          {{dataStateDisplayValue}}
        </button>
      </div>
    </nav>
  </template>

  <template id="graph.node.rect">
    <g
      class="node enable-pointer-events"
      v-attr="id: id, transform: nodeTranslate"
      v-on="
          mouseenter: mouseover,
          mouseleave: mouseout,
          contextmenu: suppressContextMenu
      "
    >
      <rect
          rx="2" ry="2"
          class="catch-all-background"
          v-class="hidden: !isMouseentered || dragFlag"
          v-attr="
              height: height,
              width: backgroundWidth,
              transform: backgroundTranslate
          "
      ></rect>
      <g class="pill-button-list" v-if="!isNew" v-class="transition-enabled: isNodeReady">
        <g
            class="pill-button"
            v-style="transform: deleteNodePillButtonTranslate"
            v-on="click: delete"
        >
          <rect rx="2" ry="2" v-attr="width: pillButtonWidth, height: height"></rect>
          <text
              text-anchor="middle"
              v-attr="transform: deleteNodePillButtonTextTranslate"
              v-el="deleteNodeText"
          >
            &#xf014
          </text>
        </g>
        <g
            class="pill-button"
            v-style="transform: linkNodePillButtonTranslate"
            v-on="click: setNewEdgeSource"
        >
          <rect rx="2" ry="2" v-attr="width: pillButtonWidth, height: height"></rect>
          <text
              text-anchor="middle"
              v-attr="transform: linkNodePillButtonTextTranslate"
          >
            &#xf0c1
          </text>
        </g>
      </g>
      <g v-attr="transform:rectTranslate">
        <rect
            class="node-rect-background-highlight"
            rx="2" ry="2"
            v-el="nodeRectBackgroundHighlight"
            v-attr="width: width, height: height"
        ></rect>
        <rect
            class="node-rect-background"
            rx="2" ry="2"
            v-el="nodeRectBackground"
            v-attr="width: width, height: height"
        ></rect>
        <rect
            class="node-rect"
            rx="2" ry="2"
            v-el="nodeRect"
            v-attr="width: width, height: height"
        ></rect>
      </g>
      <text
          class="node-name x-disable-pointer-events"
          text-anchor="middle"
          v-el="nodeName"
      >
        {{data.name}}
      </text>
    </g>
  </template>

  <template id="graph.edge">
    <g class="x-enable-pointer-events" v-on="contextmenu: edgeContextMenu">
      <line
          class="edge"
          marker-end="url(#edgeArrow)"
          v-el="arrowMarkerLine"
          v-attr="
              x1: sourceClipX, y1: sourceClipY,
              x2: targetClipX, y2: targetClipY
          "
      ></line>
    </g>
  </template>

  <template id="graph.newEdge">
    <line
        class="edge new-edge"
        v-class="connected: connected"
        v-attr="
            marker-end: edgeArrow,
            x1: sourceClipX, y1: sourceClipY,
            x2: targetClipX, y2: targetClipY
        "
    >
    </line>
  </template>

  <template id="node.panel">
    <div class="node-panel">
      <div class="title">
        <h3 v-on="click: editName" v-class="hidden: editingNodeName">{{node.data.name}}</h3>
        <input
            class="x-input"
            type="text"
            v-class="hidden: !editingNodeName"
            v-model="node.data.name"
            v-el="nameInput"
            v-on="
                blur   : updateName,
                keyup  : updateName       | key 'enter',
                keyup  : cancelNameUpdate | key 'esc'
            "
        >
      </div>
      <section class="info tags">
        <div class="info-title">
          <span class="line-around"><i class="fa fa-tags"></i></span>
        </div>
        <div class="info-body">
          <div v-class="x-has-error: validationError.tags.hasErrors">
            <input
                class="x-input"
                type="text"
                placeholder="Add tag"
                v-el="tagInput"
                v-model="tagInputValue"
                v-on="keyup: addTag | key 'enter'"
            >
            <p class="x-help-block" v-class="hidden:!validationError.tags.hasErrors">
              {{validationError.tags.message}}
            </p>
          </div>
          <ul class="x-noselect tag-list" v-class="hidden:!node.data.properties.tags.length">
            <li v-repeat="tag: node.data.properties.tags" track-by="$index">
              <i class="fa fa-times" v-on="click: removeTag($index)"></i> {{tag.value}}
            </li>
          </ul>
          <div class="empty-message" v-class="hidden: node.data.properties.tags.length">
            <p>None</p>
          </div>
        </div>
      </section>
      <section class="info">
        <div class="info-title">
          <span class="line-around"><i class="fa fa-link"></i></span>
        </div>
        <div class="info-body">
          <div v-class="x-has-error: validationError.links.hasErrors">
            <input
                class="x-input"
                type="text"
                placeholder="Add link"
                v-el="linkInput"
                v-model="linkInputValue"
                v-on="keyup:addLink | key 'enter'"
            >
            <p class="x-help-block" v-class="hidden: !validationError.links.hasErrors">
              {{validationError.links.message}}
            </p>
          </div>
          <ul class="x-noselect node-property-list" v-class="hidden:!node.data.properties.links.length">
            <li v-repeat="link: node.data.properties.links" track-by="$index">
              <div
                  class="display-value"
                  v-class="hidden: link.editing_"
                  v-on="click: editProperty(this, link)"
              >
                <i class="fa fa-times" v-on="click:removeLink($index, $event)"></i>
                <p>{{link.value}}</p>
              </div>
              <input
                  class="x-input"
                  type="text"
                  v-el="input"
                  v-class="hidden: !link.editing_"
                  v-model="link.value"
                  v-on="
                      blur  : updateLink(link),
                      keyup : updateLink(link)                  | key 'enter',
                      keyup : cancelEditingProperty(link)       | key 'esc',
                  "
              >
            </li>
          </ul>
          <div class="empty-message" v-class="hidden: node.data.properties.links.length">
            <p>None</p>
          </div>
        </div>
      </section>
      <section class="info">
        <div class="info-title">
          <span class="line-around"><i class="fa fa-envelope-o"></i></span>
        </div>
        <div class="info-body">
          <div v-class="x-has-error: validationError.emails.hasErrors">
            <input
                class="x-input"
                type="text"
                placeholder="Add email"
                v-el="emailInput"
                v-model="emailInputValue"
                v-on="keyup:addEmail | key 'enter'"
            >
            <p class="x-help-block" v-class="hidden: !validationError.emails.hasErrors">
              {{validationError.emails.message}}
            </p>
          </div>
          <ul class="x-noselect node-property-list" v-class="hidden:!node.data.properties.emails.length">
            <li v-repeat="email: node.data.properties.emails" track-by="$index">
              <div
                  class="display-value"
                  v-class="hidden: email.editing_"
                  v-on="click: editProperty(this, email)"
              >
                <i class="fa fa-times" v-on="click:removeEmail($index, $event)"></i>
                <p>{{email.value}}</p>
              </div>
              <input
                  class="x-input"
                  type="text"
                  v-el="input"
                  v-class="hidden: !email.editing_"
                  v-model="email.value"
                  v-on="
                      blur  : updateEmail(email),
                      keyup : updateEmail(email)                 | key 'enter',
                      keyup : cancelEditingProperty(email)       | key 'esc'
                  "
              >
            </li>
          </ul>
          <div class="empty-message" v-class="hidden: node.data.properties.emails.length">
            <p>None</p>
          </div>
        </div>
      </section>
      <section class="info">
        <div class="info-title">
          <span class="line-around"><i class="fa fa-phone"></i></span>
        </div>
        <div class="info-body">
          <div v-class="x-has-error: validationError.phoneNumbers.hasErrors">
            <input
                class="x-input"
                type="text"
                placeholder="Add phone number"
                v-el="phoneNumberInput"
                v-model="phoneNumberInputValue"
                v-on="keyup: addPhoneNumber | key 'enter'"
            >
            <p class="x-help-block" v-class="hidden: !validationError.phoneNumbers.hasErrors">
              {{validationError.phoneNumbers.message}}
            </p>
          </div>
          <ul class="x-noselect node-property-list" v-class="hidden: !node.data.properties.phoneNumbers.length">
            <li v-repeat="phoneNumber: node.data.properties.phoneNumbers" track-by="$index">
              <div
                class="display-value"
                v-class="hidden: phoneNumber.editing_"
                v-on="click: editProperty(this,phoneNumber)"
              >
                <i class="fa fa-times" v-on="click:removePhoneNumber($index, $event)"></i>
                <p>{{phoneNumber.value}}</p>
              </div>
              <input
                class="x-input"
                v-class="hidden: !phoneNumber.editing_"
                v-el="input"
                v-model="phoneNumber.value"
                v-on="
                    blur  : updatePhoneNumber(phoneNumber),
                    keyup : updatePhoneNumber(phoneNumber)            | key 'enter',
                    keyup : cancelEditingProperty(phoneNumber)        | key 'esc'
                "
              >
            </li>
          </ul>
          <div class="empty-message" v-class="hidden: node.data.properties.phoneNumbers.length">
            <p>None</p>
          </div>
        </div>
      </section>
    </div>

    <div class="node-panel-menu">
      <button
          v-class="hidden: isNew || !hasChanges, disabled: saving"
          v-on="click:cancelEdits"
      >
        Cancel
      </button>
      <button
          v-class="hidden: isNew || !hasChanges, disabled: saving"
          v-on="click:saveNode"
      >
        Save
      </button>
      <button
          v-class="hidden: !isNew, disabled: saving"
          v-on="click: createNode"
      >
        Create
      </button>
    </div>
  </template>

  <script>
    var _graph = @Html(Json.stringify(graph));
  </script>

}