@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">

</html>
<html lang="en">
  <head>
    <title>@title</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="@routes.Assets.at("style/libs/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("style/xlayout.css")">
    <link rel="stylesheet" href="@routes.Assets.at("style/graph/site.css")">
  </head>
  <body>
    @content

    <script src="@routes.Assets.at("js/libs/require.js")"></script>

    <script>
      'use strict';

      requirejs.config({
        baseUrl: '/assets/js',
        paths: {
          d3: 'libs/d3',
          jquery: 'libs/jquery-2.1.1',
          lodash: 'libs/lodash',
          mousetrap: 'libs/mousetrap',
          vue: 'libs/vue',
          bootstrap: 'libs/bootstrap'
        }
      });

      require(['graph/app', 'jquery'], function(app) {
        document.app = app;
      });
    </script>
  </body>
</html>
