@(graph: play.api.libs.json.JsValue, userHash: String)

@layout("JRAPH: " + (graph \ "graph" \ "data" \ "name").as[String], graph) {
  <div id="all">
    <x-nav
        data-state="{{@@ dataState }}"
        graph="{{@@ graph }}"
        on-save="{{ saveAllGraphData }}"
        is-force-layout-panel-open="{{@@ forceLayoutSettings.isPanelOpen }}">
    </x-nav>

    <main id="main">
      <x-help-tip v-if="showHowToCreateNodeTip"></x-help-tip>

      <x-force-layout-panel
          v-if="forceLayoutSettings.isPanelOpen"
          force-layout-settings="{{@@ forceLayoutSettings }}">
      </x-force-layout-panel>

      <x-node-panel
          v-if="nodeInfoToDisplay"
          hypergraph-id="{{ hypergraphID }}"
          node="{{@@ nodeInfoToDisplay }}">
      </x-node-panel>

      <div v-el="graphContainer" class="graph-container">
        <x-graph
            v-ref="graphComponent"
            nodes="{{@@ nodes }}"
            edges="{{@@ edges }}"
            force-layout-settings="{{ forceLayoutSettings }}"
            save-all-graph-data="{{ saveAllGraphData }}"
            show-graph-context-menu="{{ showGraphContextMenu }}"
            data-state="{{@@ dataState }}"
            node-state="{{@@ nodeState }}">
        </x-graph>

        <x-graph-controls
            increment-zoom="{{ incrementZoom }}"
            decrement-zoom="{{ decrementZoom }}"
            reset-view="{{ resetView }}">
        </x-graph-controls>
      </div>
    </main>

    <ul id="edgeContextMenu" class="x-menu hidden">
      <li class="x-menu-item" v-on="click: delete"><a>Delete Link</a></li>
    </ul>

    <ul id="graphContextMenu" class="x-menu hidden">
      <li class="x-menu-item" v-on="click: addNode"><a>Add Node</a></li>
    </ul>
  </div>

  @templates.nav(userHash)
  @templates.graph()
  @templates.graphNode()
  @templates.graphEdge()
  @templates.graphNewEdge()
  @templates.graphControls()
  @templates.nodePanel()
  @templates.forceLayoutPanel()
  @templates.helpTip()
}