<div id="navbar" class="container-fluid" v-cloak>
  <span
      class="navbar-brand"
      v-class="hidden:editingGraphName"
      v-on="click:editGraphName"
  >
    {{graph.data.name}}
  </span>
  <div class="navbar-form navbar-left">
    <input
        type="text"
        class="form-control"
        v-class="hidden:!editingGraphName"
        v-el="graphNameInput"
        v-model="graph.data.name"
        v-on="
            blur   : updateGraphName,
            keyup  : updateGraphName       | key enter,
            keyup  : cancelGraphNameUpdate | key esc
        "
    >
  </div>

  <div class="navbar-left">
    <p class="navbar-text"><span class="label label-default">Layout</span></p>
    <div class="nav btn-group" role="group">
      <button
          type="button" class="btn btn-default navbar-btn"
          v-class="active:this.layout=='Force Directed'"
          v-on="click:setLayout('Force Directed')"
      >
        Force Directed
      </button>
      <button
          type="button" class="btn btn-default navbar-btn"
          v-class="active:this.layout=='Static'"
          v-on="click:setLayout('Static')"
      >
        Static
      </button>
    </div>
  </div>

  <div class="navbar-left" style="margin-left:1.5em;">
    <p class="navbar-text"><span class="label label-default">Zoom</span></p>
    <div class="nav btn-group" role="group">
      <button
        type="button" class="btn btn-default navbar-btn active"
        v-class="active:this.state.zoomType == 'scale'"
        v-on="click:setZoomType('scale')"
      >
        Scale
      </button>
      <button
          type="button" class="btn btn-default navbar-btn"
          v-class="active:this.state.zoomType == 'semantic'"
          v-on="click:setZoomType('semantic')"
      >
        Semantic
      </button>
    </div>
  </div>

  <ul class="nav navbar-nav navbar-right">
    <li>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{userName}}</a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="@routes.ApplicationController.signOut()">Logout</a></li>
      </ul>
    </li>
  </ul>
</div>