<nav class="disable-pointer-events" v-class="hidden:(displayNodeCreate || displayNodeData)">
    <span class="enable-pointer-events">
        <button class="btn btn-default" v-on="click:displayNodeCreate=true">Create Node</button>
        <button class="btn btn-default" v-on="click:toggleForce">Toggle Force</button>
    </span>
</nav>
<section class="info-overlay">
        <!-- Dynamic information overlay -->
</section>
<aside class="info-panel default-pointer-events"
       v-component="x-node-create"
       v-if="displayNodeCreate">
    <div v-if="data">
        <ul class="list-unstyled">
            <li v-repeat="data"><b>{{$key}}</b>:{{$value}}</li>
        </ul>
    </div>
    <form class="form-inline">
        <div class="form-group" v-class="has-error:keyHasError">
            <input class="form-control" placeholder="Key" type="text" v-model="key">
        </div>
        <div class="form-group" v-class="has-error:valueHasError">
            <input class="form-control" placeholder="Value" type="text" v-model="value">
        </div>
        <button class="btn btn-default" type="button" v-on="click:addPropertyHandler">
            Add
        </button>
    </form>
    <button class="btn btn-default" v-class="disabled:!data" v-on="click:createNodeHandler">
        Create
    </button>
</aside>
<aside class="info-panel" v-component="x-node-data" v-if="displayNodeData">
    <ul class="list-unstyled">
        <li v-repeat="nodeDataList">
            <span v-if="typeof(value)!='object' && key.charAt(0)!='_'">
                <b>{{key}}</b>:{{value}}
            </span>
            <span v-if="typeof(value)=='object' && key.charAt(0)!='_'">
                <b>{{key}}</b>:
                <ul>
                    <li v-repeat="value"><b>{{$key}}</b>:{{$value}}</li>
                </ul>
            </span>
        </li>
    </ul>
    <div v-if="addProperty">
        <form class="form-inline">
            <div class="form-group" v-class="has-error:keyHasError">
                <input class="form-control" placeholder="Key" type="text" v-model="key">
            </div>
            <div class="form-group" v-class="has-error:valueHasError">
                <input class="form-control" placeholder="Value" type="text" v-model="value">
            </div>
            <button class="btn btn-default" type="button" v-on="click:savePropertyHandler">
                Save
            </button>
        </form>
    </div>
    <button class="btn btn-default" v-class="hidden:addProperty" v-on="click:addProperty=true">
        Add
    </button>
    <button class="btn btn-default" v-class="hidden:!addProperty" v-on="click:addProperty=false">
        Cancel
    </button>
</aside>