<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Design Page</title>
  <link rel="stylesheet" href="@routes.Assets.at("style/dependencies/font-awesome.css")">
  <link rel="stylesheet" href="@routes.Assets.at("style/dependencies/bootstrap.css")">
  <link rel="stylesheet" href="@routes.Assets.at("style/xlayout.css")">
  <style>
    html, body {
      height:100%;
    }

    main {
      height:100%;
      flex: auto;
      display: flex;
    }

    .nodeInfoPanel {
      order:2;
      width: 320px;
      background-color:#ffffff;
    }

    .graphContainer {
      order:1;
      flex:auto;
      display:flex;
      background-color:#fafafa;
    }
  </style>
</head>
<body>
  <main>
    <div class="x-paper nodeInfoPanel"></div>
    <div class="graphContainer"></div>
  </main>
</body>
</html>