/*
  Uncategorized
*/

.disable-pointer-events {
  pointer-events: none;
}

.default-pointer-events {
  pointer-events: auto;
}

.enable-pointer-events {
  pointer-events: all;
}

.disable-user-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signin-form {
  max-width: 500px;
  margin-top: 200px;
}

/*
  Main layout
*/
html, body {
  height:100%;
  width:100%;
  display: flex;
}

article {
  flex: 1 1 auto;
  display: flex;
}

section.graph-container {
  flex: 1 1 auto;
  order: 1;
  display: flex;
  background-color: #34495E;
}

section.info-container {
  order: 0;

  display: flex;
  height:100%;
  width:100%;
  position: absolute;
  padding:2em;
}

/*
  HTML Info view styles
*/

.info-panel {
  order: 1;
  flex: 1 1 auto;

  pointer-events:auto;
  background-color: rgba(255,255,255,.95);
  white-space:nowrap;
  padding:2em;
  box-shadow:0 .05em .2em rgba(0,0,0,.15);
  border:1px solid #eee;
}

.info-overlay {
  order: 0;
  flex: 6 1 auto;
}

.btn.node-create {
  float:right;
}

.node-data
{
  pointer-events:auto;
  background-color: rgba(255,255,255,.95);
  white-space:nowrap;
  padding:2em;
  height:100%;
  box-shadow:0 .05em .2em rgba(0,0,0,.1);
  border:1px solid #eee;
  border-radius:0;
  display:inline-block;
}


/* 
  Graph view styles
*/

.graph-container > svg {
  flex: 1 1 auto;
}

.link {
  opacity: .3;
  stroke: #eee;
  stroke-width:.5em;
}

.link:hover {
  opacity: .6;
  stroke-width:.7em;
}

.node-circle
{
  stroke-width:0;
  fill:#eee;
  stroke:#fff;
}

.node-circle-link-source circle
{
  fill:#03a9f4;
}

.node-circle-link-hover circle:hover
{
  fill:#00bcd4;
}

.node-label {
  fill:#ecf0f1;
}

.node-menu
{
  transition: fill 300ms ease;
  stroke-width:.1em;
  stroke:#34495E;
  fill:#f36c60;
}

.node-menu:hover {
  fill:#f69988;
}

.node-menu:active {
  transition: fill 0;
  fill:#e84e40;
}

.node-menu > .node-menu-highlight {
  transition: opacity 300ms ease;
  opacity: 0;
}

.node-menu:hover > .node-menu-highlight {
  opacity: 1;
  stroke-width:0;
}

.node-menu-item-label 
{
  font-size: 1.1em;
  letter-spacing: 0em;
  stroke-width: 0;
  fill:#ecf0f1;
}