body {
  overflow: hidden;
  background-color: #34495E;
}

.disable-pointer-events {
  pointer-events: none;
}

.default-pointer-events {
  pointer-events: auto;
}

.enable-pointer-events {
  pointer-events: all;
}

.disable-user-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn.node-create {
  float:right;
}

.container-overlay {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 2em;
}

.hypergraph {
  fill: #666;
  margin: 0;
  padding: 0;
  border: 0;
}

.signin-form {
  max-width: 500px;
  margin-top: 200px;
}

.link {
  opacity: .3;
  stroke: #F2F1EF;
  stroke-width:.5em;
}

.overlay
{
  pointer-events: auto;
  background-color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute; 
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  z-index: 1;
}

.node-circle
{
  stroke-width:0;
  fill:#eeeeee;
  stroke:#fff;
}

.node-label {
  fill:#ecf0f1;
}

.node-data
{
  pointer-events:auto;
  background-color: rgba(255,255,255,.95);
  white-space:nowrap;
  padding:2em;
  height:100%;
  box-shadow:0 .05em .2em rgba(0,0,0,.1);
  border:1px solid #eee;
  border-radius:0;
  display:inline-block;
}

.node-menu
{
  transition: fill 300ms ease;
  stroke-width:.1em;
  stroke:#34495E;
  fill:#f36c60;
}

.node-menu:hover {
  fill:#f69988;
}

.node-menu:active {
  transition: fill 0;
  fill:#e84e40;
}

.node-menu > .node-menu-highlight {
  transition: opacity 300ms ease;
  opacity: 0;
}

.node-menu:hover > .node-menu-highlight {
  opacity: 1;
  stroke-width:0;
}

.node-menu-item-label 
{
  font-size: 1.2em;
  letter-spacing: 0em;
  stroke-width: 0;
  fill:#ecf0f1;
}

.info-card ul {
  margin:0;
}