<ul class="list-unstyled">
	{{#each attributes}}
	<li><b>{{key}}</b> : {{value}}</li>
	{{/each}}
</ul>

<div style="margin-top:1em;">
	<button id="add-property" type="button" class="btn btn-default">
		<span class="glyphicon glyphicon-plus"></span>
	</button>
</div>