<div id="container-overlay"></div>

<svg class="hypergraph" id="graph-view">
	<defs>
		<filter id="dropShadow" width="1.5" height="1.5" x="-0.1" y="-0.1" primitiveUnits="objectBoundingBox">
    	<feGaussianBlur in="SourceAlpha" stdDeviation=".04" />
    	<feOffset dx="0" dy=".04" />
    	<feColorMatrix type="matrix" values="0 0 0 0 0
																					 0 0 0 0 0		
																					 0 0 0 0 0
																					 0 0 0 .1 0" />
    	<feMerge>
        <feMergeNode />
        <feMergeNode in="SourceGraphic" />
    	</feMerge>
  	</filter>
	<defs>
</svg>