<div id="application">

	<div class="container-fluid container-overlay" v-class="disable-pointer-events:!displayNodeData">

		<span class="default-pointer-events" v-component="x-node-create">
	 		<button class="btn btn-default node-create"
	 						v-class="hidden:displayNodeCreate"
	 						v-on="click:displayNodeCreate=true">
	 	  	<span class="glyphicon glyphicon-plus"></span>
	 		</button>
	 		<div class="node-data" v-if="displayNodeCreate">
	 			<div v-if="data">
		 			<ul class="list-unstyled">
		 				<li v-repeat="data"><b>{{$key}}</b>:{{$value}}</li>
		 			</ul>
	 			</div>

				<form class="form-inline">
					<div class="form-group" v-class="has-error:keyHasError">
						<input class="form-control" placeholder="Key" type="text" v-model="key">
					</div>
					<div class="form-group" v-class="has-error:valueHasError">
						<input class="form-control" placeholder="Value" type="text" v-model="value">
					</div>
					<button class="btn btn-default" type="button" v-on="click:addPropertyHandler()">Add</button>
				</form>
				<button class="btn btn-default" v-class="disabled:!data" v-on="click:createNodeHandler()">Create</button>
	 		</div>
		</span>

		<div class="node-data" v-component="x-node-data" v-if="displayNodeData">
			<ul class="list-unstyled">
				<li v-repeat="nodeDataList">
					<span v-if="typeof(value)!='object'"><b>{{key}}</b>:{{value}}</span>
					<span v-if="typeof(value)=='object'">
						<b>{{key}}</b>:
						<ul>
							<li v-repeat="value"><b>{{$key}}</b>:{{$value}}</li>
						</ul>
					</span>
				</li>
			</ul>
			<div v-if="addProperty">
				<form class="form-inline">
					<div class="form-group" v-class="has-error:keyHasError">
						<input class="form-control" placeholder="Key" type="text" v-model="key">
					</div>
					<div class="form-group" v-class="has-error:valueHasError">
						<input class="form-control" placeholder="Value" type="text" v-model="value">
					</div>
					<button class="btn btn-default" type="button" v-on="click:savePropertyHandler()">Save</button>
				</form>
			</div>
			<button class="btn btn-default" v-class="hidden:addProperty" v-on="click:addProperty=true">Add</button>
			<button class="btn btn-default" v-class="hidden:!addProperty" v-on="click:addProperty=false">Cancel</button>
		</div>

	</div>

	<svg class="hypergraph" v-attr="width:width, height:height" v-component="x-graph">
		<g class="links">
			<g class="link" v-repeat="links">
				<line v-attr="x1:source.x, y1:source.y, x2:target.x, y2:target.y"></line>
			</g>
		</g>
		<g class="nodes">
			<g class="node"
				 v-attr="transform:'translate('+x+','+y+')'"
				 v-component="x-node"
				 v-on="x-mouseenter:holdNode | state link_target,
				 			 x-mouseleave:releaseNode | state link_target,
				 			 x-mouseenter:showMenu | state default,
				 			 x-mouseleave:hideMenu | state default"
				 v-ref="nodeVms"
				 v-repeat="nodes"
				 v-svg-events>
				<x-radial-menu v-if="menu">
					<x-radial-button v-on="click:setLinkSource | state default">link</x-radial-button>
					<x-radial-button v-on="click:deleteNode | state default">delete</x-radial-button>
				</x-radial-menu>
				<g>
					<circle class="node-circle"
									v-attr="r:radius"
									v-on="x-click:pin | state default,
												x-click:setLinkTarget | state link_target,
												x-dragstart:dragStart | state default,
												x-drag:drag | state default,
												x-dragend:dragEnd | state default"
				 			 		v-svg-events>
			 		</circle>
					<text class="node-label disable-user-selection disable-pointer-events"
								text-anchor="middle"
								v-attr="transform:'translate('+labelX+','+labelY+')'"
								v-class="invisible:menu">
						Label {{$index}}
					</text>
				</g>
			</g>
		</g>
	</svg>

</div>

<script id="template-radial-button" type="text/x-template">
	<g class="node-menu">
		<path v-attr="d:backgroundPath"></path>
		<path class="node-menu-highlight" v-attr="d:highlightPath"></path>
		<path id="{{id}}" opacity="0" fill="none" v-attr="d:textPath"></path>
		<text class="node-menu-item-label disable-user-selection disable-pointer-events"
					text-anchor="middle"
					v-attr="x:x, dy:dy">
			<textPath xlink:href="#{{id}}">
				<content></content>
			</textPath>
		</text>
	</g>
</script>

<script id="template-radial-menu" type="text/x-template">
	<g>
		<circle class="disable-user-selection" fill-opacity="0" r="80"></circle>
		<g class="content">
			<content></content>
		</g>
	</g>
</script>
