<div id="application">

	<div class="container-overlay" v-class="disable-pointer-events : !displayNodeData">

		<span class="enable-pointer-events" v-component="cmp-nodeCreate">
	 		<button class="btn btn-default node-create" v-class="hidden: displayNodeCreate" v-on="click: displayNodeCreate=true">
	 	  	<span class="glyphicon glyphicon-plus"></span>
	 		</button>
	 		<div class="node-data" v-if="displayNodeCreate">
	 			<div v-if="data">
		 			<ul class="list-unstyled">
		 				<li v-repeat="data"><b>{{$key}}</b>: {{$value}}</li>
		 			</ul>
	 			</div>

				<form class="form-inline">
					<div class="form-group" v-class="has-error: keyHasError">
						<input class="form-control" placeholder="Key" type="text" v-model="key">
					</div>
					<div class="form-group" v-class="has-error: valueHasError">
						<input class="form-control" placeholder="Value" type="text" v-model="value">
					</div>
					<button class="btn btn-default" type="button" v-on="click: addPropertyHandler()">Add</button>
				</form>
				<button class="btn btn-default" v-class="disabled: !data" v-on="click: createNodeHandler()">Create</button>
	 		</div>
		</span>

		<div class="node-data" v-component="cmp-nodeData" v-if="displayNodeData">
			<ul class="list-unstyled">
				<li v-repeat="nodeDataList">
					<span v-if="typeof(value)!='object'"><b>{{key}}</b>: {{value}}</span>
					<span v-if="typeof(value)=='object'">
						<b>{{key}}</b>:
						<ul>
							<li v-repeat="value"><b>{{$key}}</b>: {{$value}}</li>
						</ul>
					</span>
				</li>
			</ul>
			<div v-if="addProperty">
				<form class="form-inline">
					<div class="form-group" v-class="has-error: keyHasError">
						<input class="form-control" placeholder="Key" type="text" v-model="key">
					</div>
					<div class="form-group" v-class="has-error: valueHasError">
						<input class="form-control" placeholder="Value" type="text" v-model="value">
					</div>
					<button class="btn btn-default" type="button" v-on="click: savePropertyHandler()">Save</button>
				</form>
			</div>
			<button class="btn btn-default" v-class="hidden: addProperty" v-on="click: addProperty=true">Add</button>
			<button class="btn btn-default" v-class="hidden: !addProperty" v-on="click: addProperty=false">Cancel</button>
		</div>

	</div>

	<svg class="hypergraph" v-attr="width:width, height:height" v-component="cmp-graph">
		<defs>
			<filter id="dropShadow" width="1.5" height="1.5" x="-0.1" y="-0.1" primitiveUnits="objectBoundingBox">
	    	<feGaussianBlur in="SourceAlpha" stdDeviation=".04" />
	    	<feOffset dx="0" dy=".04" />
	    	<feColorMatrix type="matrix" values="0 0 0 0 0
																						 0 0 0 0 0		
																						 0 0 0 0 0
																						 0 0 0 .1 0" />
	    	<feMerge>
	        <feMergeNode />
	        <feMergeNode in="SourceGraphic" />
	    	</feMerge>
	  	</filter>
		</defs>
		<g v-repeat="links">
			<line v-attr="x1:source.x, y1:source.y, x2:target.x, y2:target.y" class="link"></line>
		</g>
		<g v-attr="transform: 'translate('+x+','+y+')'"
			 v-component="cmp-node" 
			 v-repeat="nodes"
			 v-on="mouseenter: mouseenterHandler(),
			 			 mouseleave: mouseleaveHandler(),
			 			 mousedown: mousedownHandler( $event ),
			 			 click: pin( $event )">
			<circle class="node"
							filter="url( #dropShadow )"
							v-attr="r: radius">
			</circle>
			<g v-if="displayNodeMenu">
				<path fill="{{fill}}" stroke="#fff" v-attr="d: path" v-component="cmp-arc" v-repeat="menu"></path>
			</g>
			<text v-attr="transform: 'translate('+labelX+','+labelY+')'" v-class="node-label, invisible: displayNodeMenu">
				Node Label
			</text>
		</g>
	</svg>

</div>