.force-layout-panel {
    font-size: 14px;
    background-color: transparent;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #777;
    display:flex;
    flex-direction:column;
}

.force-layout-panel .fa {
    cursor: pointer;
}

.force-layout-panel > .panel-header {
    display:flex;
    background-color:#fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 6px 10px;
    z-index:100;
}

.force-layout-panel > .panel-header > .title {
    flex:auto;
    margin-left: 5px;
    margin-right: 5px;
}

.force-layout-panel > .panel-header .fa-stop {
    animation-name: pulseColor;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    color: #FF1744;
}

.force-layout-panel > .panel-header .fa-play {
    color: #00C853;
    font-size: 13px;
}

.force-layout-panel > .panel-header .run-stop {
    margin: 0 10px;
}

.force-layout-panel ul {
    background-color:#fff;
    margin: 0;
    padding: 10px;
    list-style: none;
    font-size: 12px;
    color:#777;
    border-bottom:solid 1px #ddd;
}

.force-layout-panel ul li input {
    width: 50px;
    color:#777;
}

.force-layout-panel ul li span {
    display: inline-block;
    width: 110px;
}

.advanced-settings {
    padding:2px 0;
    color:#777;
    background-color:#fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.advanced-settings > .show-hide-button {
    color:#888;
    z-index:0;
    position:relative;
    font-size:10px;
    text-align:center;
    cursor:pointer;
}

.advanced-settings > .show-hide-button > .fa {
    color:#777;
    font-size:12px;
}

@keyframes pulseColor {
    0% {
        color: #F44336;
    }
    100% {
        color: #B71C1C;
    }
}
