.force-layout-panel {
    padding:10px 0;
    font-size:14px;
    background-color: #fff;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #777;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

@keyframes pulseColor {
    0% {
        color: #F44336;
    }
    100% {
        color: #B71C1C;
    }
}