nav {
    height: 60px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: relative;
    padding: 0 10px 0 0;

    display: -webkit-flex;
    display: flex;
}

/* nav-item */

nav > .nav-item {
    display: -webkit-flex;
    display: flex;

    align-items: center;
    padding:0 5px;
}

/* app logo */

nav > .app-logo {
    cursor: pointer;
    background-color: #FF4081;
    transition: background-color 140ms ease;

    -webkit-flex: none;
    flex: none;
}

nav > .app-logo:hover {
    background-color: #F50057;
}

.app-logo svg {
    height: 26px;
    display: block; /* svg default display value for some reason adds unwated space around tag */
}

.app-logo svg > g > path:not(:first-child) {
    fill: #fff;
    transition: fill 140ms ease;
}

/* graph name */

nav > .graph-name {
    -webkit-flex:0 0 236px;
    flex:0 0 236px;

    border-right:solid 1px #ddd;
}

.graph-name > div:first-child > span {
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    color: #666;
}

.graph-name > div:first-child > span:hover {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .05);
}

.graph-name > div:first-child > input {
    display: inline;
    font-size: 16px;
    font-weight: 600;
    color: #666;
}

/* utilities */

nav > .utilities {
    -webkit-flex: auto;
    -webkit-justify-content: flex-start;
    flex: auto;
    justify-content: flex-start;
}

nav > .utilities > .toggle-layout-panel {
    padding:5px 10px;
    font-size:12px;
    color:#fff;
    font-weight:bold;
    background-color:#BDBDBD;

    border-radius:2px;
    cursor:pointer;
    transition:background-color 120ms ease;
}

nav > .utilities > .toggle-layout-panel:active, nav > .utilities > .toggle-layout-panel.active {
    background-color:#757575;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.4);
}

/* save button */

.graph-data-state {
    position: absolute;
    top: 8px;
    right: 12px;
    transition: all 100ms ease;
}

.graph-data-state > button {
    width: 80px;
    transition: all 100ms ease;
}

.graph-data-state > button:focus {
    outline: none;
}

.graph-data-state > button.saved {
    background-color: #dfdfdf;
    border: 0;
    border-radius: 2px;
    opacity: .6;
    cursor: default;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 8px;
    pointer-events: none;
}

.graph-data-state > button.unsaved {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    background-color: #F50057;
    border: none;
    border-radius: 3px;
    opacity: 1;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 8px;
}

.graph-data-state > button.unsaved:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.graph-data-state > button.saving {
    background-color: transparent;
    border: 0;
    cursor: default;
    color: #F50057;
    font-size: 14px;
    font-weight: 400;
    padding: 8px;
    pointer-events: none;
}

/* profile picture dropdown */

nav > .profile-picture {
    -webkit-flex:none;
    flex: none;
    position:relative;
    padding-right:0;
}

nav > .profile-picture > img {
    cursor: pointer;
    border-radius: 2px;
}

.profile-picture-dropdown {
    width: 140px;
    right: 0;
    top: 68px;
}

.profile-picture-dropdown::before, .profile-picture-dropdown::after {
    right: 15px;
}