nav {
    height:50px;
    background-color:#fff;
    box-shadow:0 1px 4px rgba(0,0,0,0.2);
    z-index:1;
    position:relative;
}

.graph-data-state {
    position:absolute;
    top:8px;
    right:12px;
    transition:all 100ms ease;
}

.graph-data-state > button {
    width:80px;
    transition:all 100ms ease;
}

.graph-data-state > button:focus {
    outline:none;
}

.graph-data-state > button.saved {
    background-color:#dfdfdf;
    border:0;
    border-radius:2px;
    opacity:.6;
    cursor:default;
    color:#fff;
    font-size:14px;
    font-weight:400;
    padding:8px;
    pointer-events: none;
}

.graph-data-state > button.unsaved {
    box-shadow:0 1px 4px rgba(0,0,0,0.4);
    background-color:#F50057;
    border:none;
    border-radius:3px;
    opacity:1;
    cursor:pointer;
    color:#fff;
    font-size:14px;
    font-weight:400;
    padding:8px;
}

.graph-data-state > button.unsaved:active {
    box-shadow:0 1px 1px rgba(0,0,0,0.2);
}

.graph-data-state > button.saving {
    background-color:transparent;
    border:0;
    cursor:default;
    color:#F50057;
    font-size:14px;
    font-weight:400;
    padding:8px;
    pointer-events: none;
}

.graph-name {
    width:200px;
    display:block;
    float:left;
    height:50px;
    cursor:pointer;
}

.graph-name > span {
    display:inline-block;
    height:50px;
    padding:12px 0;
    font-weight:600;
    font-size:16px;
    color:#666;
    line-height:1.5;
}

.graph-name:hover > span {
    border-radius:2px;
    background-color:rgba(0,0,0,.05);
}

.graph-name > input {
    display:inline-block;
    height:50px;
    padding:12px 0;
    font-size:16px;
    color:#666;
    font-weight:600;
    line-height:1.5;
    width:100%;
}

.app-logo {
    margin:10px 5px;
    display:block;
    float:left;
}

.app-logo-group {
    cursor:pointer;
}

.app-logo-group > path:not(:first-child) {
    fill:#ff80ab;
    transition:fill 100ms ease;
}

.app-logo-group:hover > path:not(:first-child) {
    fill:#F50057;
}