.node-property-list > dt {
    line-height:2.5em;
    font-size:1.2em;
}

.node-property-list > dd {
    line-height:1.8em;
    font-size:1.1em;
}

.node-property-list > dd > div {
    position:relative;
}

.node-property-list > dd > div > button {
    position:absolute;
    right:1em;
    top:0;
}

.node-property-list > dd > div > button > span {
    text-shadow:0 0 0 #000;
    font-size:1em;
}

.node-property-list > dd > div > .close {
    display:none;
}

.node-property-list > dd:hover .close,
.node-property-list dd:active .close  {
    display:inherit;
}

.node-panel {
    position:relative;
    margin-bottom:50px;
}

.node-panel > .title {
    margin: 10px;
}

.node-panel > .title > h3, .node-panel > .title > .x-input {
    color: rgba(0, 0, 0, .7);
    font-size: 34px;
    font-weight:400;
    line-height:2;
    margin:0;
    padding:0;
}

.node-panel > .title > h3 {
    cursor:pointer;
}

.node-panel > .title > h3:hover {
    border-radius:2px;
    background-color:rgba(0,0,0,.05);
}

.info-title .fa {
    position:relative;
    left:220px;
    background:#fff;
    display:inline;
    color:#aaa;
    padding: 10px;
    width:40px
}

.info-title .fa {
    width: 100%;
    transition: color 140ms ease-in-out;
}

.info-title .fa:hover {
    color: #F50057;
}

.info-title > .line-around {
    width:290px;
    height:11px;
    border-bottom:1px solid rgba(0,0,0,.20);
    position:absolute;
}

.info-body {
    padding-top:26px;
    font-size: 14px;
    margin: 0 10px;
}

.info-body > .empty-message {
    color:#ddd;
    padding:10px;
    text-align:center;
}

.node-panel > .close > span {
    text-shadow: 0 0 0 #000;
    font-size:1.3em;
}

.node-panel > .submit {
    position:absolute;
    right:1em;
    bottom:1em;
}

ul.tag-list {
    list-style: none;
    margin: 14px 0;
    padding: 0;
    color: rgba(0, 0, 0, .7);
}

ul.tag-list > li {
    cursor:default;
    white-space: nowrap;
    margin-top: 5px;
    text-transform: lowercase;
    position: relative;
    display: inline-block;
    padding: 2px 12px;
    border-radius: 2px;
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, .1);
}

ul.tag-list > li:not(:last-child) {
    margin-right:4px;
}

ul.tag-list .fa {
    cursor: pointer;
    font-size: .7em;
    position: relative;
    left: -4px;
    top: -1px;
    color: rgba(0, 0, 0, .30);
    transition:color 100ms ease;
}

ul.tag-list .fa:hover {
    color: rgba(0,0,0,.60);
}

ul.tag-list .fa:active {
    color: rgba(0,0,0,.45);
}

ul.node-property-list {
    list-style:none;
    padding:0;
    margin:14px 0;
    color:rgba(0,0,0,.77);
}

ul.node-property-list > li {
    margin:5px 0;
    cursor:pointer;
}

ul.node-property-list > li:hover {
    background-color:rgba(0,0,0,.05);
}

ul.node-property-list > li > div:first-child, ul.node-property-list > li > .display-value {
    position: relative;
    line-height:2;
}

ul.node-property-list > li > .display-value > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:0;
}

ul.node-property-list > li:hover > .display-value > p {
    margin-right:18px;
}

ul.node-property-list > li > .display-value > .fa-times {
    line-height:2;
    padding:3px;
    display:none;
    position: absolute;
    right: 2px;
    font-size: .8em;
    color: rgba(0,0,0,.30);
    transition:color 100ms ease;
}

ul.node-property-list > li:hover > .display-value > .fa-times {
    display:inline-block;
}

ul.node-property-list > li > .display-value > .fa-times:hover {
    display:inline-block;
    color: rgba(0,0,0,.60);
}

.node-panel-menu {
    border-top:1px solid rgba(220,220,220,0);
    position:absolute;
    width:280px;
    bottom:0;
    display:flex;
}

.node-panel-menu > button {
    font-size:16px;
    line-height:1.8;
    border:0;
    padding:2px 0;
    width:100%;
    text-align:center;
    background-color:#FF80AB;
    color:rgba(255,255,255,.87);
    cursor:pointer;
    transition:background-color 100ms ease-in-out;
    outline:none;
}

.node-panel-menu > button:nth-child(even) {
    border-left:solid 1px #fff;
}

.node-panel-menu > button:focus {
    outline:none;
}

.node-panel-menu > button:hover {
    background-color:#F50057;
}

.node-panel-menu > button:active {
    background-color:#C2185B;
}

.node-panel-menu > button.disabled {
    background-color:#ccc;
    cursor:default;
}