/***
    Bootstrap related
***/

.navbar-brand:first-letter {
    text-transform: capitalize;
}

.btn:focus,.btn:active {
    outline: none !important;
}

/***
    Uncategorized
***/

.signin-form {
    max-width: 500px;
    margin-top: 200px;
}

/*
  Main layout
*/
html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#all {
    height: 100%;

    display: flex;
    flex-flow: column;
    display: -webkit-flex;
    -webkit-flex-flow: column;
}

#nav {
    margin-bottom:0; /* bootstrap adds margin-bottom:20px for some reason */
}

#main {
    flex: auto;
    display: flex;
    -webkit-flex: auto;
    display: -webkit-flex;
}

.graph-container {
    flex: auto;
    order: 1;
    display: flex;
    -webkit-flex: auto;
    -webkit-order: 1;
    display: -webkit-flex;
    background-color: #fafafa;
}

/***
    Graph view styles
***/

#graph {
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
}

text {
    fill: rgba(255,255,255,.87);
}

.edge-arrow {
    fill:#BDBDBD;
    stroke-opacity: 0;
    stroke-width: .40em;
}

.connected-edge-arrow {
    fill:#E91E63;
    stroke-opacity: 0;
    stroke-width: .40em;
}

.edge {
    opacity: 1;
    stroke: #BDBDBD;
    stroke-width: .20em;
}

.edge.hover {
    opacity: .6;
}

.new-edge {
    stroke-width: .20em;
    stroke: #FF80AB;
}

.new-edge.connected {
    stroke-width: .25em;
    stroke: #F50057;
}

.node-rect {
    stroke-width: 0;
    fill: #E91E63;
}

.node > .catch-all-background {
    stroke-width:10px;
    fill:transparent;
    stroke:transparent;
}

.node-rect-background {
    stroke-width:0;
    fill: #FAFAFA;
    stroke:#FAFAFA;
    transition: all 140ms ease-in-out;
}

.node-rect-background-highlight {
    opacity: 0;
    stroke-width:0;
    stroke:#E91E63;
    transition: all 140ms ease;
}

.new-edge-node > g > .node-rect-background {
    stroke-width:4px;
    stroke:#FAFAFA;
}

.new-edge-node > g > .node-rect-background-highlight {
    opacity:1;
    stroke-width:8px;
}

.node-name {
    font-family: 'Noto Sans', sans-serif;
    font-weight:600;
}

.node-menu {
    transition: fill 300ms ease;
    stroke-width: .1em;
    stroke: #34495E;
    fill: #f36c60;
}

.node-menu:hover {
    fill: #f69988;
}

.node-menu:active {
    transition: fill 0ms;
    fill: #e84e40;
}

.node-menu > .node-menu-highlight {
    transition: opacity 300ms ease;
    opacity: 0;
}

.node-menu:hover > .node-menu-highlight {
    opacity: 1;
    stroke-width: 0;
}

.node-menu-item-label {
    font-size: 1.1em;
    letter-spacing: 0em;
    stroke-width: 0;
    fill: #ecf0f1;
}

.pill-button-list.transition-enabled > .pill-button {
    transition:transform 100ms ease-in-out;
    -webkit-transition:-webkit-transform 100ms ease-in-out;
    -moz-transition:-moz-transform 100ms ease-in-out;
}

.pill-button {
    cursor:pointer;
}

.pill-button > rect {
    transition:fill 100ms ease-in-out;
    fill:#FF80AB;
}

.pill-button:hover > rect {
    fill:#F50057;
}

.pill-button:active > rect {
    fill:#C2185B;
}

.pill-button > text {
    font-weight:600;
    font-size:12px;
    font-family: FontAwesome;
}

/***
    Floating Panel bar
***/

.floating-panel-bar {
    position:absolute;
    width: 280px;
    pointer-events: auto;
    z-index:1;
    background-color:rgba(255,255,255,1);
    border-top:5px solid #FF80AB;
}

.panel-bar-menu {
    overflow:hidden;
    background-color:transparent;
    position:absolute;
    right:-22px;
    top:30px;
    border-radius:0 4px 4px 0;
    z-index:-1;
    opacity:0;
    transition:opacity 100ms ease-in-out,box-shadow 40ms ease-in-out;
    box-shadow: 0 1px 5px rgba(100, 100, 100, 0.4);
}

.panel-bar-menu:active {
    box-shadow: 0 0 2px rgba(100, 100, 100, 0.4);
}

.floating-panel-bar:hover > .panel-bar-menu {
    opacity:1;
}

.panel-bar-menu > button {
    cursor:pointer;
    margin:0;
    border:0;
    background-color:#fff;
    color: rgba(0,0,0,.30);
    display:inline;
    padding:20px 7px;
    outline-width:0;
    transition:color 100ms ease;
}

.panel-bar-menu > button:hover {
    color: rgba(0,0,0,.60);
}

.panel-bar-content {
    overflow-x:hidden;
    overflow-y:scroll;
    background-color:inherit;
}

.view-controls-group {
    background-color:#fff;
    box-shadow:0px 1px 4px rgba(0,0,0,0.3);
    display:flex;
    flex-direction:column;
    border-radius:2px;
    width:30px;
}

.view-controls-group:first-child {
    margin-bottom:5px;
}

.view-controls-group > button {
    cursor:pointer;
    color:#777;
    font-size:14px;
    font-weight:100;
    border:0;
    background-color:transparent;
    transition:color 100ms ease;
    padding:6px;
}

.view-controls-group > button:hover {
    color:#333;
}

.view-controls-group > button:focus {
    outline:none;
}

.x-menu {
    width:160px;
}