/***
    Bootstrap related
***/

.navbar-brand:first-letter {
    text-transform: capitalize;
}

.btn:focus,.btn:active {
    outline: none !important;
}

/***
    Uncategorized
***/

[v-cloak] {
    display: none !important; /* hide element with v-cloak attribute */
}

.disable-pointer-events {
    pointer-events: none;
}

.default-pointer-events {
    pointer-events: auto;
}

.enable-pointer-events {
    pointer-events: all;
}

.disable-user-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.signin-form {
    max-width: 500px;
    margin-top: 200px;
}

.zoom-bar .btn {
    padding: 8px 6px;
}

/*
  Main layout
*/
html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#all {
    height: 100%;

    display: flex;
    flex-flow: column;
    display: -webkit-flex;
    -webkit-flex-flow: column;
}

#nav {
    margin-bottom:0; /* bootstrap adds margin-bottom:20px for some reason */
}

#main {
    flex: auto;
    display: flex;
    -webkit-flex: auto;
    display: -webkit-flex;
}

.sidebar-container {
    order:2;
    -webkit-order:2;

    width: 30em;
    background-color: #263238;
    color: #ffffff;
    box-shadow: inset .05em 0 .2em rgba(0, 0, 0, .35);
}

.graph-container {
    flex: auto;
    order: 1;
    display: flex;
    -webkit-flex: auto;
    -webkit-order: 1;
    display: -webkit-flex;
    background-color: #fafafa;
}

/***
    Sidebar
***/

.sidebar-menu {
    padding : 1.8em;
}

/***
    Graph view styles
***/

#graph {
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
}

text {
    fill: rgba(255,255,255,.87);
}

.edge-arrow {
    fill:#BDBDBD;
    stroke-opacity: 0;
    stroke-width: .40em;
}

.connected-edge-arrow {
    fill:#E91E63;
    stroke-opacity: 0;
    stroke-width: .40em;
}

.edge {
    opacity: 1;
    stroke: #BDBDBD;
    stroke-width: .20em;
}

.edge.hover {
    opacity: .6;
}

.new-edge {
    stroke-width: .25em;
    stroke-dasharray: 2, 1;
    stroke: #E91E63;
}

.new-edge.connected {
    stroke-dasharray: 0;
    stroke: #E91E63;
}

.node-rect {
    stroke-width: 0;
    fill: #E91E63;
}

.node > .background {
    stroke-width:10px;
    fill:transparent;
    stroke:transparent;
}

.node-rect-background {
    opacity:0;
    fill: #FAFAFA;
    stroke-width:0px;
    stroke:#FAFAFA;
    transition: all 140ms ease-in-out;
}

.new-edge-node > g > .node-rect-background {
    opacity: 1;
    stroke-width:4px;
    stroke:#FAFAFA;
}

.node-rect-background-highlight {
    opacity: 1;
    stroke-width:0;
    stroke:#E91E63;
    transition: all 140ms ease;
}

.new-edge-node > g > .node-rect-background-highlight {
    opacity:1;
    stroke-width:8px;
}

.node-name {
    font-family: 'Noto Sans', sans-serif;
    font-weight:600;
}

.node-menu {
    transition: fill 300ms ease;
    stroke-width: .1em;
    stroke: #34495E;
    fill: #f36c60;
}

.node-menu:hover {
    fill: #f69988;
}

.node-menu:active {
    transition: fill 0ms;
    fill: #e84e40;
}

.node-menu > .node-menu-highlight {
    transition: opacity 300ms ease;
    opacity: 0;
}

.node-menu:hover > .node-menu-highlight {
    opacity: 1;
    stroke-width: 0;
}

.node-menu-item-label {
    font-size: 1.1em;
    letter-spacing: 0em;
    stroke-width: 0;
    fill: #ecf0f1;
}

.pill-button-list.transition-enabled > .pill-button {
    transition:-webkit-transform 140ms ease-in-out;
}

.pill-button {
    cursor:pointer;
}

.pill-button > rect {
    transition:fill 140ms ease-in-out;
    fill:#FF80AB;
}

.pill-button:hover > rect {
    fill:#F50057;
}

.pill-button:active > rect {
    fill:#C2185B;
}

.pill-button > text {
    font-weight:600;
    font-size:12px;
    font-family: FontAwesome;
}

/***
    Floating Panel bar
***/

.floating-panel-bar {
    position:absolute;
    width: 280px;
    pointer-events: auto;
    z-index:1;
    background-color:rgba(255,255,255,1);
    border-top:5px solid #FF80AB;
}

.panel-menu {
    overflow:hidden;
    background-color:transparent;
    position:absolute;
    right:-22px;
    top:30px;
    border-radius:0 4px 4px 0;
    z-index:-1;
    opacity:0;
    transition:opacity 140ms ease-in-out,box-shadow 40ms ease-in-out;
    box-shadow: 0 1px 5px rgba(100, 100, 100, 0.4);
}

.panel-menu:active {
    box-shadow: 0 0 2px rgba(100, 100, 100, 0.4);
}

.floating-panel-bar:hover .panel-menu {
    opacity:1;
}

.panel-menu button {
    cursor:pointer;
    margin:0;
    border:0;
    background-color:#fff;
    color:#555;
    display:inline;
    padding:20px 7px;
    outline-width:0;
}

.panel-content {
    opacity:inherit;
    position:relative;
    overflow-x:hidden;
    overflow-y:scroll;
    background-color:inherit;
}
