/***
    Bootstrap related
***/

.navbar-brand:first-letter {
    text-transform: capitalize;
}

.btn:focus,.btn:active {
    outline: none !important;
}

/***
    Uncategorized
***/

[v-cloak] {
    display: none !important; /* hide element with v-cloak attribute */
}

.disable-pointer-events {
    pointer-events: none;
}

.default-pointer-events {
    pointer-events: auto;
}

.enable-pointer-events {
    pointer-events: all;
}

.disable-user-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.signin-form {
    max-width: 500px;
    margin-top: 200px;
}

.zoom-bar .btn {
    padding: 8px 6px;
}

/*
  Main layout
*/
html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#all {
    height: 100%;

    display: flex;
    flex-flow: column;
    display: -webkit-flex;
    -webkit-flex-flow: column;
}

#nav {
    margin-bottom:0; /* bootstrap adds margin-bottom:20px for some reason */
}

#main {
    flex: auto;
    display: flex;
    -webkit-flex: auto;
    display: -webkit-flex;
}

.sidebar-container {
    order:2;
    -webkit-order:2;

    width: 30em;
    background-color: #263238;
    color: #ffffff;
    box-shadow: inset .05em 0 .2em rgba(0, 0, 0, .35);
}

.graph-container {
    flex: auto;
    order: 1;
    display: flex;
    -webkit-flex: auto;
    -webkit-order: 1;
    display: -webkit-flex;

    background-color: #fafafa;
}

/***
    HTML Info view styles
***/

.floating-panel-bar {
    overflow:scroll;
    position:absolute;
    width: 26em;
    pointer-events: auto;
    white-space: nowrap;
    padding: 2em;
    background-color:rgba(255,255,255,.985);
}

.info-panel {
    order: 1;
    -webkit-order: 1;
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;

    pointer-events: auto;
    background-color: rgba(255, 255, 255, .95);
    white-space: nowrap;
    padding: 2em;
    box-shadow: 0 .05em .2em rgba(0, 0, 0, .15);
    border: 1px solid #eee;
}

.info-overlay {
    order: 0;
    -webkit-order: 0;
    flex: 16 1 auto;
    -webkit-flex: 16 1 auto;
}

.node-data {
    pointer-events: auto;
    background-color: rgba(255, 255, 255, .95);
    white-space: nowrap;
    padding: 2em;
    height: 100%;
    box-shadow: 0 .05em .2em rgba(0, 0, 0, .1);
    border: 1px solid #eee;
    border-radius: 0;
    display: inline-block;
}

/***
    Sidebar
***/

.sidebar-menu {
    padding : 1.8em;
}

/***
    Graph view styles
***/

#graph {
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
}

.edge-arrow {
    fill:#BDBDBD;
    stroke-opacity: 0;
    stroke-width: .40em;
}

.connected-edge-arrow {
    fill:#E91E63;
    stroke-opacity: 0;
    stroke-width: .40em;
}

.edge {
    opacity: 1;
    stroke: #BDBDBD;
    stroke-width: .20em;
}

.edge.hover {
    opacity: .6;
}

.new-edge {
    stroke-width: .25em;
    stroke-dasharray: 2, 1;
    stroke: #E91E63;
}

.new-edge.connected {
    stroke-dasharray: 0;
    stroke: #E91E63;
}

.node-rect {
    stroke-width: 0;
    fill: #E91E63;
}

.node-rect-background {
    opacity:0;
    fill: #FAFAFA;
    stroke-width:0px;
    stroke:#E91E63;
    transition: all 140ms ease-in-out;
}

.node-rect-background.hover {
    opacity:1;
    stroke-width: 4px;
    stroke: #AD1457;
}

.new-edge-node > g > .node-rect-background {
    opacity: 1;
    stroke-width:4px;
    stroke:#FAFAFA;
}

.node-rect-background-highlight {
    opacity: 1;
    stroke-width:0;
    stroke:#E91E63;
    transition: all 140ms ease;
}

.new-edge-node > g > .node-rect-background-highlight {
    opacity:1;
    stroke-width:8px;
}

.node-name {
    font-family: 'Noto Sans', sans-serif;
    font-weight:600;
    fill: rgba(255,255,255,.87);
}

.node-menu {
    transition: fill 300ms ease;
    stroke-width: .1em;
    stroke: #34495E;
    fill: #f36c60;
}

.node-menu:hover {
    fill: #f69988;
}

.node-menu:active {
    transition: fill 0ms;
    fill: #e84e40;
}

.node-menu > .node-menu-highlight {
    transition: opacity 300ms ease;
    opacity: 0;
}

.node-menu:hover > .node-menu-highlight {
    opacity: 1;
    stroke-width: 0;
}

.node-menu-item-label {
    font-size: 1.1em;
    letter-spacing: 0em;
    stroke-width: 0;
    fill: #ecf0f1;
}

/***
    Node Properties List
***/

.node-property-list > dt {
    line-height:2.5em;
    font-size:1.2em;
}

.node-property-list > dd {
    line-height:1.8em;
    font-size:1.1em;
}

.node-property-list > dd > div {
    position:relative;
}

.node-property-list > dd > div > button {
    position:absolute;
    right:1em;
    top:0;
}

.node-property-list > dd > div > button > span {
    text-shadow:0 0 0 #000;
    font-size:1em;
}

.node-property-list > dd > div > .close {
    display:none;
}

.node-property-list > dd:hover .close,
.node-property-list dd:active .close  {
    display:inherit;
}

.node-panel > .close > span {
    text-shadow: 0 0 0 #000;
    font-size:1.3em;
}

.node-panel > .submit {
    position:absolute;
    right:1em;
    bottom:1em;
}