@(hypergraphs: play.api.libs.json.JsValue)

@import play.api.libs.json.Json

<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Graphs</title>
    <link rel="stylesheet" href="@routes.Assets.at("style/dependencies/bootstrap.css")">
    <style>
      html, body {
        height: 100%;
      }

      .disable-pointer-events {
        pointer-events: none;
      }

      .graphs-list {
        margin-bottom: 0;
      }

      .graphs-list-container {
        background-color: #eee;
        min-height:100%;
        width: 700px;
        margin: 0 auto;
        padding: 0;
      }

      .graph-min-view {
        border-radius:3px;
        cursor: pointer;
        background-color:#00596E;
      }

      .marker-arrow {
        fill: rgba(255, 255, 255, 1);
        stroke-opacity: 0;
        stroke-width: .25em;
      }

      .link {
        opacity: .3;
        stroke: #eee;
        stroke-width: .25em;
      }

      .node-rect {
        stroke-width: 0;
        fill: #fff;
      }

      a:hover {
        color:transparent;
        text-decoration: none;
      }
    </style>
    <script>

    </script>
  </head>
  <body>
    <div id="graphsListContainer" class="graphs-list-container">
      <dl class="dl-horizontal graphs-list">
        <x-graph-thumbnail v-repeat="hypergraphs"></x-graph-thumbnail>
      </dl>
    </div>

    <template id="link.thumbnail">
      <g>
        <line
          class="link"
          v-attr="x1:sourceX, y1:sourceY, x2:targetClipX, y2:targetClipY"
        ></line>
        <line
          class="marker-arrow"
          marker-end="url(#def-marker-arrow)"
          v-el="arrowMarkerLine"
          v-attr="x1:sourceX, y1:sourceY, x2:targetClipX, y2:targetClipY"
        ></line>
      </g>
    </template>

    <template id="node.thumbnail">
      <g
        class="node enable-pointer-events"
        v-attr="id: id, transform: nodeTranslate"
      >
        <rect
          class="node-rect"
          rx="4"
          ry="4"
          v-el="nodeRect"
          v-attr="width:width, height:height, transform:rectTranslate"
        ></rect>
        <text
          class="node-name disable-pointer-events"
          text-anchor="middle"
          v-el="nodeName"
        >
          {{data.name}}
        </text>
      </g>
    </template>

    <template id="graph.thumbnail">
      <dt>{{graph.data.name}}</dt>
      <dd>
        <a href="/graph/{{graph.id}}">
          <svg
              class="panel panel-default graph-min-view"
              width="500"
              height="281"
              v-attr="viewBox:viewBox"
              v-el="svg">
            <defs>
              <marker
                  id="def-marker-arrow"
                  markerWidth="2"
                  markerHeight="2"
                  refx="1.5"
                  refy="1"
                  orient="auto"
              >
                <path d="M0,0 L0,2 L2,1 L0,0" class="marker-arrow"></path>
              </marker>
              <marker
                  id="def-marker-ghost-arrow"
                  markerWidth="2"
                  markerHeight="2"
                  refx="0"
                  refy="1"
                  orient="auto"
              >
                <path d="M0,0 L0,2 L2,1 L0,0" class="marker-arrow"></path>
              </marker>
            </defs>

            <g class="disable-pointer-events" v-el="nodesAndLinksGroup">
              <!-- Nodes -->
              <x-node-thumbnail v-repeat="nodes"></x-node-thumbnail>

              <!-- Links -->
              <x-link-thumbnail v-repeat="links"></x-link-thumbnail>
            </g>
          </svg>
        </a>
      </dd>
    </template>
  </body>

  <script src="@routes.Assets.at("js/dependencies/require.js")"></script>

  <script>

    require.config({
      baseUrl: '/assets/js',
      paths: {
        d3: 'dependencies/d3',
        jquery: 'dependencies/jquery-2.1.1',
        lodash: 'dependencies/lodash',
        mousetrap: 'dependencies/mousetrap',
        q: 'dependencies/q',
        snap: 'dependencies/snap.svg',
        vue: 'dependencies/vue',
        bootstrap: 'dependencies/bootstrap',
        page: 'dependencies/page'
      }
    });

    var userGraphs = @Html(Json.stringify(hypergraphs)); //bootstrap json data into view template
  </script>

  <script>
    require([
        'lodash',
        'jquery',
        'vue',
        'models'
    ],
    function(_, $, Vue, models){

      var Node = models.Node;
      var Link = models.Link;

      var deferredHypergraphsData = _.map(userGraphs, function(hg) {
        return $
            .when(Node.fetchAll(hg.id), Link.fetchAll(hg.id))
            .then(function(nodes, links) {
              nodes.forEach(function (n) {
                links.forEach(function (l) {
                  if (l.sourceId == n.id) l.source = n;
                  if (l.targetId == n.id) l.target = n;
                });
              });

              return {
                graph: hg,
                nodes: nodes,
                links: links
              };
            });
      });


      function liangBarsky(edgeLeft, edgeRight, edgeBottom, edgeTop,
                           x0src, y0src, x1src, y1src) {
        var t0 = 0.0, t1 = 1.0;
        var xdelta = x1src-x0src;
        var ydelta = y1src-y0src;
        var p,q,r;

        for(var edge=0; edge<4; edge++) {   // Traverse through left, right, bottom, top edges.
          if (edge === 0) {
            p = -xdelta;
            q = -(edgeLeft - x0src);
          }
          else if (edge === 1) {
            p = xdelta;
            q =  (edgeRight - x0src);
          }
          else if (edge === 2) {
            p = -ydelta;
            q = -(edgeBottom - y0src);
          }
          else if (edge === 3) {
            p = ydelta;
            q = (edgeTop - y0src);
          }

          r = q/p;

          if (p === 0 && q < 0) {          // Don't draw line at all. (parallel line outside)
            return false;
          }

          if (p < 0) {
            if (r > t1) return false; // Don't draw line at all.
            else if (r > t0) t0=r;    // Line is clipped!
          }
          else if (p > 0) {
            if (r < t0) return false; // Don't draw line at all.
            else if (r<t1) t1=r;      // Line is clipped!
          }
        }

        return {
          x0Clip: x0src + (t0 * xdelta), // x0clip
          y0Clip: y0src + (t0 * ydelta), // y0clip
          x1Clip: x0src + (t1 * xdelta), // x1clip
          y1Clip: y0src + (t1 * ydelta)  // y1clip
        };
      }

      function viewBoundsToFitAllNodes(nodes) {
        var bounds = {
          xMin: Number.POSITIVE_INFINITY,
          xMax: Number.NEGATIVE_INFINITY,
          yMin: Number.POSITIVE_INFINITY,
          yMax: Number.NEGATIVE_INFINITY
        };

        bounds = _.reduce(nodes, function(bounds, n) {
          if (n.x < bounds.xMin) bounds.xMin = n.x;
          if (n.x > bounds.xMax) bounds.xMax = n.x;
          if (n.y < bounds.yMin) bounds.yMin = n.y;
          if (n.y > bounds.yMax) bounds.yMax = n.y;

          return bounds;
        }, bounds);

        return bounds;
      }

      var LinkThumbnailComponent = Vue.extend({

        template: document.getElementById('link.thumbnail').innerHTML,

        replace: true,

        data: function() {
          return {
            targetClipX: 0,
            targetClipY: 0
          };
        },

        computed: {
          sourceX: function() {
            return this.source.x;
          },
          sourceY: function() {
            return this.source.y;
          },
          targetX: function() {
            return this.target.x;
          },
          targetY: function() {
            return this.target.y;
          }
        },


        methods: {

          liangBarskyTest : function ( ) {
            //TODO: bug with translate transforms

            var source = this.source ;
            var target = this.target ;

            var clippings = liangBarsky(
              target.leftEdge,
              target.rightEdge,
              target.topEdge,
              target.bottomEdge,
              source.x,
              source.y,
              target.x,
              target.y
            );

            this.targetClipX = clippings.x0Clip;
            this.targetClipY = clippings.y0Clip;
          }

        },

        events: {

          'hook:ready': function() {
            this.liangBarskyTest();
          }

        }

      });

      Vue.component('x-link-thumbnail', LinkThumbnailComponent);

      var NodeThumbnailComponent = Vue.extend({

        template: document.getElementById('node.thumbnail').innerHTML,

        replace: true,

        data: function() {
          return {
            x : 0,
            y : 0,
            leftEdge : 0,
            rightEdge : 0,
            bottomEdge : 0,
            topEdge : 0,
            nameX : 0,
            nameY : 0,
            width : 0,
            height : 0,
            data: {
              name: ''
            }
          };
        },

        computed: {

          nodeTranslate: function() {
            return 'translate(' + this.x + ',' + this.y + ')';
          },

          nameTranslate: function() {
            return 'translate(' + this.nameX + ',' + this.nameY + ')';
          },

          rectTranslate: function() {
            return 'translate(' + (-this.width/2) + ',' + (-(this.height + 12)/2) + ')';
          }

        },

        methods: {

          calculateRectBoundingEdges: function() {
            // we get the transform to nodesAndLinksGroup element
            // because, in calculating the bounding edges, we only
            // want the transforms applied to the node element itself
            // while disregarding the transforms to nodesAndLinksGroup
            var ttm = this.$$.nodeRect.getTransformToElement(this.$parent.$$.nodesAndLinksGroup);
            var bBox = this.$$.nodeRect.getBBox();
            var point = this.$parent.$$.svg.createSVGPoint();
            var dimensions = this.$parent.$$.svg.createSVGPoint();

            point.x = bBox.x;
            point.y = bBox.y;

            point = point.matrixTransform(ttm);

            ttm.e = ttm.f = 0; // next we multiply bBox.width/height as vectors

            dimensions.x = bBox.width;
            dimensions.y = bBox.height;

            dimensions = dimensions.matrixTransform(ttm);

            this.leftEdge = point.x;
            this.rightEdge = point.x + dimensions.x;
            this.topEdge = point.y;
            this.bottomEdge = point.y + dimensions.y;
          },

          updateDimensionsOfNodeRect: function() {
            var bBox = this.$$.nodeName.getBBox();

            this.width = bBox.width + 24;
            this.height = bBox.height + 12;
          }

        },

        events: {

          'hook:ready': function() {
            this.updateDimensionsOfNodeRect();
            this.calculateRectBoundingEdges();
          }

        }

      });

      Vue.component('x-node-thumbnail', NodeThumbnailComponent);

      var GraphThumbnailComponent = Vue.extend({

        template: '#graph.thumbnail',

        replace: true,

        data: function() {
          return {
            links: [],
            nodes: [],
            bounds: {
              xMin: 0,
              xMax: 1200,
              yMin: 0,
              yMax: 675
            }
          };
        },

        computed: {

          viewBox: function() {
            var b = this.bounds;
            return b.xMin + ' ' + b.yMin + ' ' + (b.xMax - b.xMin) + ' ' + (b.yMax - b.yMin);
          }

        },

        events: {

          'hook:ready': function() {
            this.bounds = viewBoundsToFitAllNodes(this.nodes);
          }

        }

      });

      Vue.component('x-graph-thumbnail', GraphThumbnailComponent);

      var GraphThumbnailsContainerComponent = Vue.extend({

        data: function() {
          return {
            hypergraphs: [ ]
          };
        },

        events: {

          'hook:ready': function() {
            var self = this;

            $.when.apply($, deferredHypergraphsData).then(function() {
              var hypergraphs = Array.prototype.slice.call(arguments);
              _.forEach(_.range(3), function() {
                self.hypergraphs.push( _.clone(hypergraphs[0]));
              });
            });
          }

        }

      });

      // init code
      var graphThumbnailsContainer = new GraphThumbnailsContainerComponent().$mount('#graphsListContainer')
    });
  </script>
</html>