@(userHash: String)

<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>User Profile</title>
  <link rel="stylesheet" href="@routes.Assets.at("style/dependencies/font-awesome.css")">
  <link rel="stylesheet" href="@routes.Assets.at("style/dependencies/bootstrap.css")">
  <link rel="stylesheet" href="@routes.Assets.at("style/xlayout.css")">
  <link rel="stylesheet" href="@routes.Assets.at("style/account/account.css")">
</head>
<body>
  <div class="x-navbar nav">
    <ul class="x-navbar-nav">
      <li>
        <a href="@routes.ApplicationController.index()">Graphs</a>
      </li>
      <li class="active">
        <a href="@routes.ApplicationController.profile()">Profile</a>
      </li>
    </ul>

    <img src="https://secure.gravatar.com/avatar/@userHash?s=100" width="50" height="50" />
  </div>

  <div style="margin-top:90px;max-width:1240px;">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Save</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>