@(signInForm: Form[com.mohiva.play.silhouette.api.util.Credentials])

<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <fieldset>
      <legend class="col-md-6 col-md-offset-3">Sign in with your credentials</legend>
      @helper.form(action = routes.CredentialsAuthController.authenticate()) {
        <div class="form-group">
          <input
              type="text"
              class="form-control"
              id="@signInForm("identifier").id"
              name="@signInForm("identifier").name"
              value="@signInForm("identifier").value"
              placeholder="Email"
          >
        </div>

        @bootstrap.password(signInForm("password"), "Password")
        <div class="form-group">
          <div class="col-md-6 col-md-offset-3">
            <button id="submit" type="submit" value="submit" class="btn btn-primary btn-block">Submit</button>
          </div>
        </div>
        <div class="sign-in-now col-md-6 col-md-offset-3">
          <p><a href="@routes.ApplicationController.signUp()">Sign Up for a new account</a></p>
        </div>
      }
    </fieldset>
    @{ if (signInForm.hasErrors) { Html("ERRORS EXIST") } }
  </body>
</html>