@(userEmail: String, userHash: String)

<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="@routes.Assets.at("style/dependencies/font-awesome.css")">
  <link rel="stylesheet" href="@routes.Assets.at("style/dependencies/bootstrap.css")">
</head>
<body>
  <div
      class="panel center-block"
      style="
          width:400px;
          padding:20px;
          position:relative;
          top:220px;
          border-radius:2px;
      "
  >
    <div class="media">
      <form style="padding:5px;">
        <div class="form-group">
          <div class="form-group">
            <label class="sr-only">Email</label>
            <h5 class="form-control-static">@userEmail</h5>
          </div>
          <div class="form-group">
            <label class="sr-only">Password</label>
            <input type="password" autocomplete="off" class="form-control input-lg" placeholder="Password">
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-default btn-lg btn-block">Verify</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>