<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Spec Tests</title>

        <link rel="shortcut icon"
              type="image/png"
              href="@routes.Assets.at("test/jasmine/jasmine_favicon.png")">
        <link rel="stylesheet"
              type="text/css"
              href="@routes.Assets.at("test/jasmine/jasmine.css")">

        <script src="@routes.Assets.at("js/dependencies/require.js")"></script>

        <script>
            //use requirejs so that tests can in consistent environments

            (function(requirejs) {
                'use strict';

                requirejs.config({
                    baseUrl: 'assets/js',
                    paths: {
                        'd3': 'dependencies/d3',
                        'jquery': 'dependencies/jquery-2.1.1',
                        'lodash': 'dependencies/lodash',
                        'mousetrap': 'dependencies/mousetrap',
                        'q': 'dependencies/q',
                        'snap': 'dependencies/snap.svg',
                        'vue': 'dependencies/vue',
                        'jasmine': '../test/jasmine/jasmine',
                        'jasmine-html': '../test/jasmine/jasmine-html',
                        'boot': '../test/jasmine/boot',
                        'testHelpers': '../test/test_helpers'
                    },
                    shim: {
                        'jasmine': {
                            exports: 'window.jasmineRequire'
                        },
                        'jasmine-html': {
                            deps: ['jasmine'],
                            exports: 'window.jasmineRequire'
                        },
                        'boot': {
                            deps: ['jasmine', 'jasmine-html'],
                            exports: 'window.jasmineRequire'
                        }
                    }
                });

                // Define all of your specs here. These are RequireJS modules.
                var specs = [
                    '../test/util_spec'
                ];

                require(['boot', 'testHelpers'], function () {
                    require(specs, function () {
                        // onload has already been called so call
                        // it again for boot.js
                        window.onload();
                    });
                });
            })(requirejs);
        </script>
    </head>
    <body></body>
</html>